Repository tinoschroeter/bash_on_steroids: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Dev, Build Production, Build Docs

Build Dev:
          steps {
              echo 'Build Dev..'
              sh("cd k3s/dev/ && skaffold run")
          }   
        

Build Production:
          steps {
              echo 'Build Production....'
              sh("cd k3s/production/ && skaffold run")
            }  
          

Build Docs:
          steps {
              echo 'Build Docs...'
            }  
          

replace: travis with jenkins
  .travis.yml
  README.md
Due: none

fix: jenkins button
  README.md
Due: none

add: super-linter
  .github/workflows/linter.yml
  README.md
Due: none

update: README.md
  README.md
Due: none

fix: linter
  README.md
Due: none

add: spell check script
  .aspell.en.prepl
  .aspell.en.pws
  docs/index.md.bak
  spell-check.sh
  static/BashCheatSheet.md
Due: Build Docs

fix: typo
  docs/index.md
  docs/index.md.bak
Due: Build Docs

remove: css from linguist
  .gitattributes
  README.md
Due: none

remove: css from linguist
  .gitattributes
Due: none

set: css linguist to false
  .gitattributes
Due: none

add: nfs volume
  k8s/base/bos.yaml
  k8s/production/pvc.yaml
Due: none

fix: Docker image
  Dockerfile
  install.sh
  k8s/base/bos.yaml
  k8s/production/kustomization.yaml
Due: Build Dev, Build Production

update: demo site
  Jenkinsfile
  index.htsh
  static/css/style.css
  static/favicon.ico
Due: none

update: demo site
  index.htsh
  k8s/base/bos.yaml
Due: none

update: bc color
  static/css/style.css
Due: none

update ubuntu
  Dockerfile
Due: Build Dev, Build Production

add: real ip address
  index.htsh
Due: none

fix: cert-manager ingress issue
  k8s/production/ingress.yaml
Due: none

update: replicas
  k8s/base/bos.yaml
Due: none

remove: build status
  README.md
  spell-check.sh
Due: none

clean up and add function html_escape()
  .aspell.en.prepl
  .aspell.en.pws
  .gitattributes
  Dockerfile
  Jenkinsfile
  README.md
  Vagrantfile
  build.sh
  spell-check.sh
Due: Build Dev, Build Production

Path conditions:
  Build Dev: ((any of: Dockerfile) or (any of: k3s/base/**)) or (any of: k3s/dev/**)
  Build Production: ((any of: Dockerfile) or (any of: k3s/base/**)) or (any of: k3s/production/**)
  Build Docs: any of: docs/**
